.btn-enviar{
    display:block;
    background-color: beige;
    border: 2px solid grey;
}

.labelRadio{
    color: green;
    font-weight: bold;
}

.logo{
    width: 100px;
}
.header{
    background-color: blue;display: flex;
    justify-content: space-around;
}
.menu{
    display: flex;
    list-style: none;
    gap:10px;
}
nav{
    display: flex;
    gap:20px;
    align-items: center;
}
.link{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.section_blue{
    background-color: blue;
    height: 200px;
    background-image: url("../image/Discord-logo.png");
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    margin: 0;
}

input [type="radio"]{
    margin-left: 100px;
}

input[type="text"]{
    background-color: grey;
    color: white;
}

/**Pseudoclases-selectores complejos, se marcan con : pseudoclases = estados (valido, invalido, cambios de estados al pasar el mouse)*/
input:invalid{
    border: 2px solid red;
}

/**Pseudoelementos-selectores complejos, se marcan con ::  pseudoelementos = se refiere a los atributos de un imputo po ejemplo*/
input::placeholder {
    color:blue
}

/* el boton cambia de color*/
.btn:hover{
    background-color: pink;
}
/*pseudoelementos*/

p::first-letter{
    color: red;
}